@import '~bootstrap/scss/bootstrap';

$background-color: white;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: #2f4154; // rgb(0, 156, 161);
$black: #000;
$player: #edf77b;
$feedback: #edf77b;

body {
  background-color: $background-color;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.grey {
  background-color: grey;
}

.teal {
  background-color: $teal;
}

.grid {
  margin: 1em auto;
  border-collapse: collapse;
}
.grid td {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-size:13px
}
.grid td.clicked {
    background-color: yellow;
    font-weight:bold;
    color: red;
}

.players {
  //background-color: $player;
  color: $player;
}
.feedback {
  font-size: 28px;
}

.playerX {
  background-color: #fb474d;
  font-size: 40px;
  // content: "X";
}
 .playerO {
  background-color: #74bfdd;
  font-size: 40px;
  // content: "O";
}

.heading {
  text-align: center;
  color: blue;
}
